<!-- Callout section start -->

		<section id="clients" class="callout">

			<div class="container">

				<div class="row">

					<div class="col-md-3 hidden-xs wow bounceInLeft">
						<h3>Customers</h3>
					</div>

					<div class="col-md-9 wow bounceInRight">

						<div id="owl-clients" class="owl-carousel">

							<div class="owl-item">
								<%= image_tag "creative/IAS.png", class: "img-responsive", alt: "" %>
								<h4><a href="http://www.iasguards.com">Innovative Advantage Security</a></h4>
							</div>

							<div class="owl-item">
							<%= image_tag "creative/arc.png", class: "img-responsive", alt: "" %>
								<h4><a href="http://www.antirecidivism.org">Anti-Recividism Coalition</a></h4>
							</div>


						</div>

					</div><!-- .col-md-9 -->

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Callout section end -->