	<!-- Preloader -->

		<div id="preloader">
			<div id="status">
				<div class="status-mes"><h4>Jermaine Subia</h4></div>
			</div>
		</div>
	

		<!-- Intro section start -->

		<section id="intro" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-12">

						<div class="hello wow bounceInDown">
							<h1>Hi, I'm Jermaine Subia</h1>
							<h3><span class="rotate">Grinder. |  Leader. | Full-Stack Web Developer.</span></h3>
						</div>

						<a href="#profile">
							<div class="mouse-icon">
								<div class="wheel"></div>
							</div>
						</a>

					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Intro section end -->