<!-- Profile section start -->

		<section id="profile" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-12 headline wow bounceInDown">
						<h2>Jermaine Subia</h2>
						<p>Grinder. Leader. Full-Stack Web Developer.</p>
					</div>

					<div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">
					<%= image_tag "creative/sky_diving.jpg", class: "avatar", alt: "" %>
					</div>

					<div class="col-md-3 col-sm-6 wow bounceInUp">

						<div class="profile-widget">
							
						</div>

						<div class="profile-widget">
							<h3>Social Profiles</h3>
							<ul class="widget-social">
								<li><a href="https://twitter.com/JermaineSubia"><i class="fa fa-twitter fa-fw"></i></a></li>
								<li><a href="https://github.com/jaysubia"><i class="fa fa-github-alt"></i></a></li>
								<li><a href="https://www.linkedin.com/in/jaysubia/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>

					</div><!-- .col-md-3 -->



					
				


					<div class="col-md-6 col-sm-12 wow bounceInRight">
						<h3>Profesional Profile</h3>
						<p>If you don't know anything about me the one thing you should know is that I am a grinder! I work extremely hard but I also believe in efficiency and optimization so although I can work hard I can work smarter as well. As a manager for several years and a stint as a Director I found that the companies I worked for did not have efficient streamlined processes which lead to errors and often customer dissatisfaction. I would often find ways to streamline processes in any way I could find such as creating an online ticketing system using JotForm and Google sheets, or using Excel as a database. Even being creative in that sense had its limitations so I decided to learn how to code. I would work on the companies website, help friends out with their websites, or get referred to businesses to help with their websites. Even then I was still limited so I finished my degree in information systems and received additional training at another educational institution. Now I have the tools necessary to develop systems for companies and individuals. 
		
						Is efficiency important to you?

						How important is it to you to utilize technology to ensure customer satisfaction?

						How much do you value hard work?

						These are some of the questions I present to you as you read this if you believe in these then please reach out to me </p>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Profile section end -->