<section id="services" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-12 headline wow bounceInDown">
						<h2>What I can do</h2>
						<p>My Services.</p>
					</div>

					<div class="col-md-12">

						<div class="row">

							<div class="col-sm-4 wow bounceInLeft">
								<div class="service">
									<div class="icon">
										<i class="fa fa-pencil"></i>
									</div>
									<h4>Front-end Web Development</h4>
									<div class="text">
										<p>I am experienced with css, html, and javascript. I am also familiar with Angular and React.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4 wow bounceInUp">
								<div class="service">
									<div class="icon">
										<i class="fa fa-database"></i>
									</div>
									<h4>Back-end Web Development</h4>
									<div class="text">
										<p>Familiarity with mySQL and MongoDB in regards to databases. I am experienced with utilizing expressjs, nodejs, PHP, and rails.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4 wow bounceInRight">
								<div class="service">
									<div class="icon">
										<i class="fa fa-shopping-cart"></i>
									</div>
									<h4>E-Commerce</h4>
									<div class="text">
										<p>Experience building e-commerce sites with payment capabilities.</p>
									</div>
								</div>
							</div>

						</div><!-- .row -->

						<div class="row">

							<div class="col-sm-4 wow bounceInUp" data-wow-delay=".2s">
								<div class="service">
									<div class="icon">
										<i class="fa fa-code"></i>
									</div>
									<h4>Basic Web Development Tutoring</h4>
									<div class="text">
										<p>Tutoring those interested in entry level web development in html, css, and javascript.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4 wow bounceInUp" data-wow-delay=".4s">
								<div class="service">
									<div class="icon">
										<i class="fa fa-desktop"></i>
									</div>
									<h4>Upgrading Websites</h4>
									<div class="text">
										<p>If you feel your website is not what you would like it to be I can re-do it as well as make it responsive which is important with people using mobile and tablets to view websites.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4 wow bounceInUp" data-wow-delay=".6s">
								<div class="service">
									<div class="icon">
										<i class="fa fa-life-ring"></i>
									</div>
									<h4>Support</h4>
									<div class="text">
										<p>I provide remote support to those that need to make changes to their website.</p>
									</div>
								</div>
							</div>

						</div><!-- .row -->

					</div><!-- .col-md-12 -->

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Services section end -->