<!-- Callout section start -->

		<section id="stats" class="callout">

			<div class="container">

				<div class="row">

					<div class="col-md-3 col-sm-12 hidden-xs wow bounceInLeft">
						<h3>My Stats</h3>
					</div>

					<div class="col-md-3 col-sm-4 wow bounceInDown">
						<div class="stat">
							<div class="stat-icon">
								<h2><i class="fa fa-coffee hidden-xs"></i><span class="timer" data-to="0"></span></h2>
							</div>
							<h3>Cups of coffee(fun fact I don't drink coffee)</h3>
						</div>
					</div>

					<div class="col-md-3 col-sm-4 wow bounceInUp">
						<div class="stat">
							<div class="stat-icon">
								<h2><i class="fa fa-code hidden-xs"></i><span class="timer" data-to="999"></span></h2>
							</div>
							<h3>Line of code</h3>
						</div>
					</div>

					<div class="col-md-3 col-sm-4 wow bounceInRight">
						<div class="stat">
							<div class="stat-icon">
								<h2><i class="fa fa-clock-o  hidden-xs"></i><span class="timer" data-to="100"></span>+</h2>
							</div>
							<h3>Hours of coding</h3>
						</div>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>